
body {
    text-align: center;
    background:black;
}

#myslide {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:1000px;
    border:10px solid wheat;
    border-radius: 4px;
    box-shadow: 0 0 20px wheat;
}
img {
    height:500px;
    width:100%;
    
}

.leftbi {
   transform: scale(3);
   position:absolute;
   top: 50%;
   left:50px;
}

.rightbi {
    transform: scale(3);
    position:absolute;
    top: 50%;
    right:50px;
 }
 